/* grid container */
.holy-grail-grid {
  display: grid;
  grid-template-areas:
    "header"
    "main-content"
    "left-sidebar"
    "right-sidebar"
    "footer";
}

/* general column padding */
.holy-grail-grid > * {
  padding: 1rem;
}

/* assign columns to grid areas */
.holy-grail-grid > .header {
  grid-area: header;
}

.holy-grail-grid > .main-content {
  grid-area: main-content;
  background: #fff;
}

.holy-grail-grid > .left-sidebar {
  grid-area: left-sidebar;
  background: #f5d55f;
}

.holy-grail-grid > .right-sidebar {
  grid-area: right-sidebar;
  background: #c5ed77;
}

.holy-grail-grid > .footer {
  grid-area: footer;
  background: #72c2f1;
}

/* tablet breakpoint */
@media (width >= 768px) {
  .holy-grail-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "main-content main-content"
      "left-sidebar right-sidebar"
      "footer footer";
  }
}

/* desktop breakpoint */
@media (width >= 1024px) {
  .holy-grail-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "header header header header"
      "left-sidebar main-content main-content right-sidebar"
      "footer footer footer footer";
  }
}

.header {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  background: #333;
}

.logo {
  max-width: 30%;
}

.points a {
  color: #fff;
}


.heading-main-content {
  font-size: 1.6rem;
  margin: 2rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

.text-main-content {
  font-size: 1.1rem;
  margin: 0.5rem 2rem;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

.link a {
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 2rem;
}

.text-left-sidebar {
  font-size: 1.2rem;
  margin: 2rem;
  line-height: 1.4rem;
}

.text-right-sidebar {
  font-size: 1.2rem;
  margin: 2rem;
  line-height: 1.4rem;
}

.footer {
  display: flex;
}

.text-footer {
  font-size: 1.2rem;
  margin: 2rem;
}

.header,
.header a {
  color: white;
}
.chat-section {
  font-size: 1.2rem;
  margin-top: 20px;
}
.chat-window {
  border: 2px solid black;
  max-width: 40%;
  margin-top: 1rem;
}
.chat-form {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
}
.username-input {
  display: block;
  max-width: 10%;
  height: 30px;
  margin-bottom: 10px;
}
.message-input {
  display: block;
  max-width: 50%;
  height: 100px;
  margin-bottom: 10px;
}
.btn-chat {
  max-width: 40%;
}

.box-carousel-control {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
.carusel-inner {
  width: 100%;
  display: flex;
  justify-content: center;

}

.carusel-item {
  display: none;
}

.carusel-item.active {
  display: block;
}

/* header */

/* main-section */

/* footer */
/* chat */
/* carusel */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%;
} /* always display scrollbars */
body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, Verdana, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



